streamlit==0.63.0
pandas
numpy==1.18.5
PyYAML==5.3.1
matplotlib
seaborn==0.10.1
tensorflow==2.2.0
tensorflow-estimator==2.2.0
sklearn
plac==0.9.6
tqdm
pickleshare==0.7.5
gensim==3.8.0
nltk
joblib==0.15.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
more-itertools==8.4.0
imgkit==1.0.2